/**
 * Base styles
 */
nav#navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;

  transition: height 0.3s ease;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
  -webkit-backdrop-filter: blur(3px);
}
nav#navbar #main-logo {
  display: block;
  transition: left 0.3s ease, transform 0.3s ease;
}
nav#navbar #main-logo svg {
  transition: height 0.3s ease, width 0.3s ease, margin 0.3s ease;
}
nav#navbar #main-logo svg path {
  fill: #F1F1F1;
}

.post-template nav#navbar,
nav#navbar.scroll {
  background: rgba(255, 255, 255, 0.90);
}

/**
 * Not on top
 */
nav#navbar.scroll {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
.post-template nav#navbar #main-logo svg path,
nav#navbar.scroll #main-logo svg path {
  fill: #ED2939;
}

/**
 * Desktop / Tablet
 */
@media (min-width: 768px) {

  /* Expanded state */
  nav#navbar {
    height: 122px;
  }
  nav#navbar #main-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  nav#navbar #main-logo svg {
    width: 92px;
    height: 92px;
    margin: 15px;
  }

  /**
   * Compact state
   */
  nav#navbar.scroll {
    height: 68px;
  }
  nav#navbar.scroll #main-logo svg {
    width:   48px;
    height:  48px;
    margin:  10px;
  }

}

/**
 * Mobile
 */
@media (max-width: 767px) {

  nav#navbar {
    height: 58px;
  }
  nav#navbar #main-logo {
    /*float: left;*/
    position: absolute;
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  nav#navbar #main-logo svg {
    width: 48px;
    height: 48px;
    margin: 5px;
  }


}
